main {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  background-color: white;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.7);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  pointer-events: none;
}

main.active {
  opacity: 1;
  pointer-events: all;
}

main > p {
  margin: 0;
}

main > output {
  display: block;
  margin-top: 1rem;
  text-align: center;
}

button#toggle {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  background-color: dodgerblue;
  box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.5);
  cursor: pointer;
}

button#toggle:focus {
  outline: 0;
}

span.clock {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem;
  background: black;
  color: white;
  font-family: monospace;
}